/* *{
    max-width: 1600px;
    

} */
header{
    width: 100%;
    height: 21.20%;
    /* border:4px solid; */

}

.top-header{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* border:4px solid; */
    /* max-width: 1200px; */
    height: 1.26%;
    padding: 0px 219px;
    background-color: #147489;
    /* position: relative; */
    font-family:Arial, Helvetica, sans-serif;
    /* size: 12px; */
    text-transform: uppercase;
}


.nav-top-list li{
    display: inline;
    /* padding:  5px; */

}
.nav-top-list a{
    color: #f4d060;
    text-decoration: none;
    
}
ul,a:hover{
    color: white;
}


.main-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.54%;
    /* border:4px solid; */
    /* width: 1200px; */
    padding: 10px 210px;
    /* margin: 0 auto; */
    position: relative;
    color: #000000;
    size: 16px;
    text-transform: uppercase;
    background-color: white;
}

.nav-list li{
    display: inline;
    padding: 0 5px;
}
.nav-list li a{
    /* border:4pxsolid; */
    position: relative;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    padding: 0 15px;
    /* box-sizing: border-box; */


}
.nav-list li a:hover{
    color: #047f9a;
    
}

.menu-icons a{
    display: inline;
    padding: 0 5px;
}
.slide{
    background-image: url(./images/slide/slide.jpg);
    width: 100%;
    height: 78%; 
    /* border:4px solid; */
    padding: 15%;

}

/* @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%;
    }
  } */
.labelslide{
    text-transform: uppercase;
    /* font-family: "Roboto"; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    font-size: 42px;
    padding: 13% 7.70%;
    position: absolute;
    top: 273px;
    left: 212px;
    z-index: 1;
}
.slidelower{
    color: #f4d060;
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: 5px;
    padding: 100px;
    position: absolute;
    top: 326px;
    left: 266px;
    z-index: 1;
}












main{
    height: 2000px;
}















.footer{
    height: 600px;
    background-image: url(./images/front/newsletter.jpg);
    
}

.newslettre{
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding-top: 4%;
    color: #ffdc70;
    font-family : Monacoa, sans-serif;
    line-height: 30px;
}

.form-control{
    width: 441px;
    height: 42px;
    opacity: 0.2;
    color: whitesmoke;
    
}
.btn-newsletters{
    width: 166px;
    height: 43px;
}
.g-8{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.row-cols-3 {
    /* padding-top: 4% ; */
    
    /* background-color: white; */
    background-color: transparent;
    opacity: 1;
    padding:  3% 10% ;
    /* padding-bottom: 5%; */
}
.grayscale{
    filter: grayscale(100%);
}
.container {
    /* opacity: 0.1; */
    padding-top: 2% ;
    /* padding:5% 10% 2% 10%; */
}
.col p {
    color: white;
}

hr{
    color: #839da8;
    padding: 0px 10%;
}

.container hr{
    padding-left: 13.5%;
}


.contentfooter li {
    /* background-color: currentcolor; */

    display: flex;
    justify-content: start;
    color: #5b7986;
    text-transform: uppercase;
    /* text-shadow: #FC0 1px 0 10px; */
}
.contentfooter a{
        color: #5b7986;
        text-decoration: none;
}

.contentfootersupport li {
    /* background-color: currentcolor; */

    display: flex;
    justify-content: start;
    color: #9aa4a8;
    text-transform: uppercase;
    /* text-shadow: #FC0 1px 0 10px; */
}
.contentfootersupport a{
        color: #9aa4a8;
        text-decoration: none;
        font-weight: 600;
}


.cpyright{
    display: flex;
    justify-content: space-between;
    padding: 0% 10%;
    color: white;
}








.section1{
    padding: 1% 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.trait_dessus{
    /* border-top: 1px solid #000; */
    padding: 0% 36%;
    /* width: 33%; */
    
}
.lorem{
    color: #919090;
    padding: 1% 36;
}

.solution-img{
    display: flex;
    justify-content: center;
    padding: 1% 12%;
}
.aetech-solution ::before{
    display: block;
    /* position: absolute;
    top: 1em; */
}



.card-title{
    letter-spacing: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
}
.card-sous-title{
    text-align: center;
    
}
.col .card-text{
    color: #000000;
}

.card-link{
    text-align: center;
}
.card{
    border: 0;
}

